.navbar {
    padding: 3vw 10vw 0vw 10vw;

    .navbar-brand {
        padding-right: 12vw;
    }

    .nav-item {
        padding-left:10px;
        padding-right: 10px;
        text-transform: uppercase;
    }
}