.navbar {
    padding: 2vw 1vw 2vw 1rem;
    background: transparent;
    transition: 500ms ease;

    .navbar-brand {
        margin-left:10vw;
        margin-right: 35vw;
    }

    .nav-item {
        padding-left:10px;
        padding-right: 10px;
        text-transform: uppercase;
    }

    &.scrolled {
        background: blue;
    }
}

